<div data-testid="todo-form" class="pl-3 pr-3 pb-3 h-full flex flex-col">
  <span class="ml-6 text-lg mb-3 font-semibold title">{{
    creationMode ? 'Create' : 'Details'
  }}</span>
  <todos-form-fields [todoForm]="todoForm"></todos-form-fields>
  <div class="flex justify-between mt-2 ml-6 mr-6">
    <todos-button
      id="closeButton"
      color="warn"
      text="Close"
      (clicked)="close()"
    ></todos-button>
    <todos-button
      *ngIf="showDelete"
      id="deleteButton"
      color="warn"
      text="Delete"
      (clicked)="delete()"
    ></todos-button>
    <todos-button
      id="submitButton"
      [text]="todoForm.disabled ? 'Edit' : 'Save'"
      (clicked)="todoForm.disabled ? edit() : save()"
      [disabled]="todoForm.invalid && todoForm.dirty"
    ></todos-button>
  </div>
</div>
